<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>坐标反算</title>
</head>
<body>
<form action="" method="post">
  {{form[0].input_value.label}}
  {{form[0].input_value}}
  <br>
  {{form[1].input_value.label}}
  {{form[1].input_value}}
  <br>
  {{form[2].input_value.label}}
  {{form[2].input_value}}
  <br>
  {{form[3].input_value.label}}
  {{form[3].input_value}}
  <br>
  <input type="submit" name="submit">
</form>
</body>
</html>